.jumbotron {
    background-image: url(./blogSunset.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.latestPostCard {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.cover {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.blogBtn {
  background: orangered !important;
  border-color: orangered !important;
}

.blogBtn:focus, .blogBtn.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5) !important;
}

.blogBtn:hover, .blogBtn.hover {
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5) !important;
  font-weight: bold;
  transition: 0.1s;
}

.blogTitle{
  font-family: TitleFont;
  color: white;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  /* font-weight: bold; */
}

.blogSubTitle {
  font-family: TitleFont;
  color: black;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}