.jumbotron {
    background-image: url(./blogSunset.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.latestPostCard {
    border-radius: 1rem !important;
    background-color: black;
    /* border: solid 2px lightgray; */
}

#latestImg {
  border-radius: 1rem 0 0 1rem;
}

.blogBtn {
  background: orangered !important;
  border-color: orangered !important;
  color: white;
}

.blogBtn:focus, .blogBtn.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5) !important;
  color: white;
  text-decoration: none;
}

.blogBtn:hover, .blogBtn.hover {
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 0, 0.5) !important;
  font-weight: bold;
  transition: 0.1s;
  color: white;
  text-decoration: none;
}

.blogTitle{
  font-family: TitleFont;
  color: white;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  /* font-weight: bold; */
}

.blogSubTitle {
  font-family: TitleFont;
  color: black;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

.cardShadow {
  /* text-shadow: 1px 1.5px rgba(0, 0, 0, 0.2); */
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.textWhiteHover {
  background-color: white;
  opacity: 0.9;
  margin: 20rem 2rem 1rem 2rem ;
  border-radius: 1rem;
}

.textWhiteHoverLatest {
  background-color: white;
  opacity: 0.9;
  margin: 2rem ;
  border-radius: 1rem;
}
